@mixin icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: $lem;

  flex-grow: 1;
  align-items: flex-end;

  @include icons--mobile;

  .icomoon {
    @include icomoon;
    padding: 0 $lem / 2;
  }
}
