@mixin monogram($width, $height, $scale) {
  display: flex;
  flex-direction: column;

  // if size is 100x100
  overflow: hidden;

  &__row {
    @include monogram__row($width, $height, $scale);
  }
}
