html {
  &.home {
    body {
      position: relative;

      .monogram {
        @include monogram;
      }

      .content {
        @include stretch--columns;

        position: relative;
        z-index: 1;

        .avatar {
          @include avatar;
        }

        .icons {
          @include icons;
        }
      }
    }
  }
}
