<!-- Modify here -->
<!-- Below there are some sample icons linking nowhere -->
<!-- You can remove or add new ones -->
<!-- To add a new one copy-paste an existing "icomoon" entry and replace let's say "icon-twitter" with "icon-pinterest" -->
<!-- Do the replace twice, in <svg> and <use> -->

<section class="cube">
  <h3>Cube</h3>

  <div class="cube__wrap">
  	<div class="cube3d">
      
      
        <div class="cube3d__face cube3d__face--front">
          
        </div>
      
        <div class="cube3d__face cube3d__face--back">
          
        </div>
      
        <div class="cube3d__face cube3d__face--top">
          
        </div>
      
        <div class="cube3d__face cube3d__face--bottom">
          
        </div>
      
        <div class="cube3d__face cube3d__face--left">
          
        </div>
      
        <div class="cube3d__face cube3d__face--right">
          
        </div>
      
  	</div>
  </div>
</sectipn>
