// - http://paulrhayes.com/experiments/cube-3d/
@mixin cube($color-scheme, $size: 200px) {
  display: flex;
  justify-content: center;
  
  &__wrap {
  	@include cube__wrap($size);

    .cube3d {
      @include cube3d($size);

      &__face {
        border: 1px solid;

        display: flex;
        justify-content: center;
        align-items: center;

        .icomoon {
          @include icomoon($lem, $color-scheme);
        }
      }
    }
  }
}
