@mixin icomoon($size: $lem, $color-scheme: black-on-white) {
  display: flex;
  width: $size;
  height: $size;

  &__icon {
    display: flex;
    width: $size;
  	height: $size;
  	fill: currentColor;

    @include colors($color-scheme);
  }

  &__link {
    @include link($color-scheme);
  }
}
