


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Csongor Bartus, web designer and developer</title>
    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    

    
  </head>

  <body>




  
  <article class="avatar">
  <h3>Avatar</h3>

  
  <figure class="avatar__image">
  <img src="/assets/images/avatar.jpg" alt="Same Fernandez">
</figure>

  <aside class="avatar__text">
  <h3 class="name">Same Fernandez</h3>
  <p class="role">Front-end developer</h3>
</aside>

</article>


  
  <article class="icons">
  <h3>Icons</h3>

  
    
    <div class="icon">
  
    <a class="icon__link" href="http://github.com" title="Github">
  

  <img class="icon__image" src="/assets/images/github.svg" alt="Github">

  </a>
</div>

  
    
    <div class="icon">
  
    <a class="icon__link" href="http://twitter.com" title="Twitter">
  

  <img class="icon__image" src="/assets/images/twitter.svg" alt="Twitter">

  </a>
</div>

  
    
    <div class="icon">
  
    <a class="icon__link" href="http://instagram.com" title="Instagram">
  

  <img class="icon__image" src="/assets/images/instagram.svg" alt="Instagram">

  </a>
</div>

  
    
    <div class="icon">
  
    <a class="icon__link" href="http://facebook.com" title="Facebook">
  

  <img class="icon__image" src="/assets/images/facebook.svg" alt="Facebook">

  </a>
</div>

  
</article>









</body>
</html>

