@mixin monogram {
  position: absolute;
  z-index: 0;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: transparent;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__name {
    display: none;
  }

  &__character {
    @include monogram__character;
  }
}
