@mixin monogram {
  @include background-image($black);

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  &__image {
    @include monogram__image;
  }

  &__text {
    @include monogram__text;
  }
}
