@mixin avatar {
  display: flex;

  flex-grow: 2;
  align-items: flex-end;

  &__content {
    display: flex;
    align-items: center;
  }


  .avatar-image {
    @include avatar-image;
  }

  .avatar-text {
    @include avatar-text;
  }
}
