@mixin cube3d__face($size) {
  position: absolute;
  width: $size;
  height: $size;

  &--front {
    transform: rotateX(90deg) translateZ($size / 2);
  }

  &--back {
    transform: translateZ($size / 2);
  }

  &--top {
    transform: rotateY(90deg) translateZ($size / 2);
  }

  &--bottom {
    transform: rotateY(180deg) translateZ($size / 2);
  }

  &--left {
    transform: rotateY(-90deg) translateZ($size / 2);
  }

  &--right {
    transform: rotateX(-90deg) translateZ($size / 2) rotate(180deg);
  }
}
