

// Fonts
//
// Typefaces and fonts used across the site.
// They are never used directly but set up properly with the `text-style` mixin.
//
// Styleguide fonts


// Montserrat
// - The default typeface, sans-serif
// - character set: Latin
// - served from Google
// - styles and weights: Normal, 

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,);




// The font mixin
@mixin font($variant) {

  @if ($variant == 'montserrat-normal') {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
}


// Font classes

.montserrat-normal {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

