@mixin home__avatar-and-icons {
  position: relative;
  width: 100vw;

  display: flex;
  align-items: center;

  padding: $lem 0;

  .avatar {
    @include avatar;
    margin-right: $lem;
  }

  .icons {
    @include icons;
  }

  @include home__avatar-and-icons--mobile;
}
