@mixin cube3d($size) {
  position: relative;
  margin: 0 auto;
  height: $size;
  width: $size;
  transition: transform 2s linear;
  transform-style: preserve-3d;


  &__face {
    @include cube3d__face($size);
  }
}
